.a_hero_wrap {
    padding-top: 80px !important;
    border-bottom: 1px solid var(--gray);
    padding-bottom: 30px;
}

.a_hero_tag {
    font-size: 13px;
    color: var(--red);
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}

.material-symbols-outlined {
    margin-right: 10px;
}

.article_title {
    font-size: 35px;
    font-weight: 500 !important;
}

.aa_det_p {
    font-size: 15px;
    margin: 15px 0px 40px 0px;
    color: var(--gray);
}

.aa_det_p span {
    color: var(--black);
}

.share_cont {
    display: flex;
    align-items: center;
}

.link_preview {
    visibility: hidden;

    display: grid;
    grid-gap: 5px;
    color: #6b6b6b;
}

.lcc {
    font-size: 13px;
}

.share_btn {
    cursor: pointer;
    margin-right: 25px;
}

.a_article_wrap {
    padding-top: 10px !important;
    padding-bottom: 50px !important;
}

.img_cont {
    padding-bottom: 30px;
    box-sizing: border-box;
    text-align: center;
}

.article_hero_img {
    max-width: 750px;
    margin: 0px auto;
    width: 100%;
}

.a_article_wrap p {
    line-height: 1.6;
    font-size: 17px;
}



@media only screen and (min-width: 700px) {
    .a_hero_wrap {
        padding-top: 100px !important;
        border-bottom: 1px solid var(--gray);
        padding-bottom: 50px;
    }

    .a_hero_tag {
        font-size: 15px;
    }

    .article_title {
        font-size: 40px;
    }

    .aa_det_p {
        font-size: 17px;
        margin: 20px 0px 40px 0px;
    }

    .a_article_wrap {
        padding-top: 40px !important;
        padding-bottom: 80px !important;
    }
    

    .img_cont {
        padding-bottom: 60px !important;
    }

    .a_article_wrap p {
        font-size: 19px;
        line-height: 1.65;
    }

    .m_wrap {
        margin: 0px auto;
        max-width: 700px;
    }

}



@media only screen and (min-width: 900px) {
    .a_hero_wrap {
        padding-top: 130px !important;
    }

    .article_title {
        font-size: 45px;
    }

    .m_wrap {
        margin: 0px auto;
        max-width: 900px;
    }

}