.ft_content {
    padding: 40px 20px 60px 20px;
    text-align: center;
    background-color: var(--light-gray);
}

.ft_wrap {
    display: grid;
    gap: 1.5em;
    font-size: 13.5px;
    color: var(--gray);
}

.copyright_svg {
    margin-bottom: -3px;
    width: 18px;
    height: 18px;
}

.build_author_ref {
    color: var(--gray);
    cursor: pointer;
}

.build_author_ref:hover {
    color: var(--red);
}


@media only screen and (min-width: 800px) {

    .ft_content {
        padding: 60px 20px 80px 20px;
        text-align: center;
    }

    .ft_wrap {
        display: grid;
        grid-template-columns: 1fr 1fr;
        font-size: 15px;
        color: var(--gray);
    }

}