* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root {
    --black: #000;
    --red: #E8522C;
    --mid-gray: #CCC;
    --light-gray: #E6E6E6;
    --gray: #999999;
}

body {
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
    color: var(--red);
    cursor: pointer;
}

a:hover {
    opacity: 80%;
}


.pad_space {
    padding: 20px 20px 45px 20px;
}

.tag {
    color: var(--gray);
    text-transform: uppercase;
    font-family: inherit;
}



@media only screen and (min-width: 800px) {

    .pad_space {
        padding: 20px 40px 45px 40px;
    }
    
}