.hd_content {
    padding: 20px 20px 15px 20px;
    border-bottom: 1px var(--mid-gray) solid;
}

.logo {
    font-size: 24px;
    font-weight: 700 !important;
    color: var(--black);
}



@media only screen and (min-width: 800px) {

    .hd_content {
        padding: 27px;
        border-bottom: 1px var(--mid-gray) solid;
    }

    .logo {
        font-size: 26px;
    }
    
}


@media only screen and (min-width: 1440px) {

    .hd_wrap {
        margin: 0px auto;
        max-width: 1400px;
    }

    .logo {
        font-size: 26px;
    }
    
}