.futr {
    padding-top: 55px !important;
    padding-bottom: 80px !important;
}

.futr_tag {
    font-size: 12px;
    color: var(--red);
}


.futr_title_h {
    padding: 20px 0px 25px 0px !important;
    font-size: 38px;
    font-weight: 600 !important;
    color: var(--black) !important;
}

.futr_desc {
    font-size: 20px;
}

.futr_time_read {
    font-size: 12px;
    color: var(--gray);
    padding: 30px 0px 0px 0px;
}





.a_main_dim {
    display: grid;
}

.a_main_dim_p {
    font-size: 12px;
    color: var(--black);
}

.a_main_dim_hr {
    opacity: 30%;
}





.article_section_wrap {
    display: grid;
    gap: 4em;
    padding: 25px 0px;
}

.article_title_h {
    color: var(--black) !important;
    font-size: 28px;
    font-weight: 600;
}

.article_desc {
    padding: 20px 0px 20px 0px;
}

.article_msn {
    display: flex;
    font-size: 12px;
}

.date {
    color: var(--gray);
}

.time_read {
    color: var(--red);
}





.about_title {
    font-weight: 600 !important;
}

.about_wrap {
    padding: 25px 0px;
    display: grid;
    gap: .75em;
}






@media only screen and (min-width: 800px) {

    .futr {
        padding-top: 70px !important;
        padding-bottom: 80px !important;

        margin: 0px;
        max-width: 650px;
    }

    .futr_title_h {
        font-size: 45px;
    }

    .futr_desc {
        font-size: 25px;
    }

    .futr_tag {
        font-size: 14px;
    }

    .futr_time_read {
        font-size: 14px;
    }

    .main_body {
        display: grid;
        grid-template-columns: 65% 35%;
        gap: 1.5em;
        box-sizing: border-box;
    }

    .article_section_wrap {
        padding: 35px 0px;
        gap: 5em;
    }

    .article_title_h {
        font-size: 35px;
    }

    .article_desc {
        font-size: 20px;
        padding: 25px 0px;
    }





    .about {
        margin-right: 25px;
        box-sizing: border-box;
    }

    .article_msn {
        font-size: 14px;
    }
      
}



@media only screen and (min-width: 1200px) {

    .futr {
        padding-top: 100px !important;
        padding-bottom: 100px !important;

        margin: 0px;
        max-width: 750px;
    }

    .main_body {
        gap: 3em;
    }
    
}

@media only screen and (min-width: 1300px) {

   .m_content {
        margin: 0px auto;
        max-width: 1250px;

   }
    
}