{% extends 'base.html' %}
{% load static %}

{% block title %}{{article_details.title}} | Reality Notes{% endblock %}

{% block head %}
<meta property="og:type" content="article">
<meta property="og:title" content="{{article_details.title}}">
<meta name="description" content="{{article_details.description}}">
<meta property="og:image" content="{{article_details.image.url}}">
<link rel="canonical" href="{{request.build_absolute_uri}}">
<link rel="stylesheet" href="{% static 'article_detail.css' %}">
{% endblock %}



{% block content %}
<section class="a_hero pad_space">
    <div class="a_hero_wrap">
        <span class="a_hero_tag">
            <span class="material-symbols-outlined">article</span>
            <span class="a_hero_tag_art__">ARTICLE</span>
        </span>

        <h1 class="article_title">{{article_details.title}}</h1>

        <p class="aa_det_p">By <span>Reality Stevens</span> / {{article_details.published_at.date|date:"F Y"}}</p>

        <div class="share_cont">
            <span class="material-symbols-outlined share_btn">share</span>
            <div class="link_preview">
                <p class="lc lcc">Link copied!</p>
                <p class="page_url lcc"></p>
            </div>
        </div>
    </div>
</section>

<section class="a_article">
    <div class="a_article_wrap pad_space">
        <div class="img_cont">
            <img src="{{article_details.image.url}}" alt="{{article_details.image_alt}}" class="article_hero_img">
        </div>
        <div>{{article_details.content|safe}}</div>
    </div>
</section>
{% endblock %}