{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reality Notes</title>
    <meta name="description" content="Sharing life's valuable lessons">
    <meta property="og:title" content="Reality Notes">
    <meta property="og:description" content="Sharing life's valuable lessons">
    <meta property="og:url" content="n.realitystevens.me">
    <meta property="og:type" content="website">
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <link rel="stylesheet" href="{% static 'global.css' %}">
    <link rel="stylesheet" href="{% static 'header.css' %}">
    <link rel="stylesheet" href="{% static 'footer.css' %}">
    <link rel="shortcut icon" href="{% static 'assets/favicon.png' %}" type="image/x-icon">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
    <div class="body">
        <div class="content">
            <div class="wrapper">

                <header class="header" id="header">
                    {% include 'global/header.html' %}
                </header>

                <main class="main" id="main">
                    <div class="m_content">
                        <div class="m_wrap">   
                            
                            <div class="futr pad_space">
                                <article class="futr_a">
                                    <div class="futr_acw">
                                        <span class="futr_tag">FEATURED - {{feat_article.published_at.date|date:"F Y"}}</span>
                                        <a href="a/{{feat_article.url_hash}}" class="futr_title">
                                            <h2 class="futr_title_h">{{feat_article.title}}</h2>
                                        </a>
                                        <p class="futr_desc">{{feat_article.description}}</p>
                                        <p class="futr_time_read">{{feat_article.mins_read}} MIN READ</p>
                                    </div>
                                </article>
                            </div>

                            

                            <div class="main_body">

                                <section class="article_section pad_space">

                                    <div class="a_main_dim">
                                        <p class="a_main_dim_p">ARTICLES</p>
                                        <hr class="a_main_dim_hr">
                                    </div>

                                    <div class="article_section_wrap">

                                        {% for article in articles %}
                                        <article class="article" id="article">
                                            <div class="article_wrap">
                                                <a href="/a/{{article.url_hash}}" class="article_title">
                                                    <h2 class="article_title_h">{{article.title}} and {{article.url_hash}}</h2>
                                                </a>
                                                <p class="article_desc">{{article.description}}</p>
                                                <span class="article_msn">
                                                    <span class="date">{{article.published_at.date|date:"F Y"}} - </span>
                                                    <span class="time_read">{{article.mins_read}} MIN READ</span>
                                                </span>
                                            </div>
                                        </article>
                                        {% endfor %}

                                    </div>
                                </section>

                                <section class="about pad_space">

                                    <div class="a_main_dim">
                                        <p class="a_main_dim_p">ABOUT</p>
                                        <hr class="a_main_dim_hr">
                                    </div>

                                    <div class="about_wrap">
                                        <h1 class="about_title">Reality Notes</h1>
                                        <p class="about_desc">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae, ipsa earum cupiditate maxime consequatur nam ullam enim sunt facilis natus.</p>
                                    </div>
                                </section>
                            </div>


                        </div>
                    </div>
                </main>

                <footer class="footer" id="footer">
                    {% include 'global/footer.html' %}
                </footer>

            </div>
        </div>
    </div>
</body>
</html>